SECRET_KEY=your_jwt_secret_key_here
HUGGINGFACE_API_KEY=your_huggingface_api_key_here
MONGODB_URI=mongodb://localhost:27017/studentDb
PORT=5000
CLIENT_URL=http://localhost:5173
NODE_ENV=development


# For production deployment:
# CLIENT_URL=https://your-frontend-url.vercel.app
# MONGODB_URI=mongodb+srv://username:password@cluster.mongodb.net/studentDb
# NODE_ENV=production
